@import '../../assets/scss/_colors.scss';

.c-home {
  h1 {
    font-size: 3rem;
    text-align: center;
    color: $dark-gray;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 3rem 0 7rem;
  }
}

.c-home__list {
  display: block;
  list-style-type: none;
  margin: 2rem;
  padding: 0;
  font-size: 1.4rem;
  color: $dark-gray;

  @media (min-width: 768px) {
    margin: 3rem 5rem;
  }
}

.c-home__list-item {
  margin: 3rem 0;
}